/* Body Reset */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f9fa;
}

/* Link Styling */
.nav-link:link,
.nav-link:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

/* Active Link Styling */
.nav-link:link:active,
.nav-link:visited:active {
    color: black;
    border-radius: 0;
}

/* Hover Link Styling */
.nav-link:link:hover,
.nav-link:visited:hover {
    color: black;
    border-radius: 0;
}


/* Black & White Image */
.bw-image {
    filter: grayscale(100%);
}